@mixin layout-shell($direction: row) {
  display: flex;
  flex-direction: $direction;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: var(--el-fill-color-light);
}

@mixin layout-main {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-width: 0;
  overflow: hidden;
}

@mixin layout-content {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

@mixin layout-body {
  display: flex;
  flex: 1;
  min-height: 0;
  overflow: hidden;
}

@mixin horizontal-menu {
  :deep(.el-menu--horizontal) {
    --el-menu-horizontal-height: 100%;
    --el-menu-item-height: 100%;
  }
}
